<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>utf-8</charset>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- <file>${catalina.base}/sds-logs/depurador-sds-ws.log</file>  -->
		<file>C:\saen\saen.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- <fileNamePattern>${catalina.base}/sds-logs/depurador-sds-ws.%d{yyyy-MM-dd}.%i.log</fileNamePattern>  -->
			<fileNamePattern>C:\saen\saen.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>50MB</maxFileSize>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<encoder>
			<charset>utf-8</charset>
			<pattern>%d{dd MMM yyyy HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="debug">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>

	<logger name="org.hibernate.tool.hbm2ddl" level="info" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="org.hibernate.type" level="info" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="org.hibernate.SQL" level="info" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="org.hibernate" level="info" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="org.quartz.core.QuartzSchedulerThread" level="warn" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger> 
	
</configuration>